.profilePhoto img{
    position: relative;
    max-width: 100px;
    height: auto;
}

.item {
    padding: 20px;
}

.selectedPage {
    cursor: pointer;
    font-weight: bold;
}

.noneSelectedPage {
    cursor: pointer;
    color: grey;
}